* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #2c7544, #0a2c10);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
}

#main {
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;

}

.home-page {
  min-height: 100vh;
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
}

.header {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.nav-item ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nav-item a:hover {
  color: rgb(166, 170, 166);
}

.title {
  color: white;
  padding-top: 6rem;
  font-size: 80px;
}

.container-aside{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;

}
.article-left {
  flex: 1;
  text-align: left;
}
.frase {
  color: aliceblue;
  padding-top: 2rem;
}

.article-right{
  flex: 1;
  width: 50%;
  padding-left: 15rem;
  padding-top: 4rem;
  justify-content: center;
  display: flex;
}

#img-oswcruz{
  height: 25rem;
  border: 2px solid white;
  border-radius: 100px;
  box-shadow: 10px 20px 15px rgb(14, 22, 17);
}

.biograph{
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;

}

#main-biograph{
  height: 100vh;
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
}

.title-container h1{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  color: aliceblue;
  font-size: 45px;
}

<<<<<<< HEAD
=======



>>>>>>> 97b9ef75e8c40af70fc3f89f40635e1185c75952
.description-biograph{
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  padding-top: 15px;
  width: 50%;
  color: aliceblue;
}

.container-biograph{
  display: flex;
  
}

.figure-bio{
  padding-left: 10rem;
  padding-top: 2rem;
  
}
#img-bio{
  border: 2px solid white;
  border-radius: 20px;
  width: 100%;
  height: 400px;
  box-shadow: 5px 10px 15px rgb(11, 17, 14);
}

#saudepublica{
  min-height: 100vh;
  animation: fadeIn 2s ease-out forwards;
}

#container-saude{
  display: flex;
}

.header-saude h1{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  color: aliceblue;
  font-size: 45px;
}

.description-saude{
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  padding-top: 15px;
  width: 50%;
  color: aliceblue;
}

#img-saude{
  border: 2px solid white;
  border-radius: 20px;
  width: 100%;
  height: 400px;
  box-shadow: 5px 10px 15px rgb(11, 17, 14);
}

.figure-saude{
  padding-left: 10rem;
  padding-top: 2rem;
}

#footer div{
  width: 100%;
  background: linear-gradient(90deg, #396346, #090a09);
  padding: 35px;
  box-shadow: 5px 10px 15px rgb(11, 17, 14);
}

#footer p{
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer a{
  display: flex;
  justify-content: center;
  color: aliceblue;
  text-decoration: none;
  padding-top: 10px;
  font-weight: bold;
}

#footer span{
  font-weight: bold;
  padding-left: 0.5em;
}

#footer a:hover{
  color: rgb(131, 136, 131);
  font-weight: bold;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(7px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
